@media screen and (min-width:600px) {
  div.div_root{background-color: blue;}
}

.div_root{
  margin:auto;
  width: 800px;
  height: 900px;
}

.div_top {
  width: 100%;
  height: 10vw;
  background-color: #82fa58;
  text-align: center;
}
